<template>
    <div>
        <b-row class="mb-4">
            <b-col lg="12">
                <b-breadcrumb :items="items"></b-breadcrumb>
            </b-col>
            <b-col lg="4">
                <b-col lg="12">
                    <b-card>
                        <b-row class="float-right mr-1 mb-1">
                            <b-icon icon="file-text" scale="1.2" variant="success"></b-icon>
                            <small class="text-secondary ml-1 mb-3">{{category.totalArticle}}</small>
                        </b-row>
                        <b-row class="justify-content-lg-center mb-4">
                            <i :class="'fa fa-'+category.icon+' fa-2x'"></i>
                        </b-row>
                        <b-row class="justify-content-lg-center text-center">
                            <h5>{{category.title}}</h5>
                            
                        </b-row>
                        <b-row class="justify-content-lg-center m-0">
                            <small class="text-secondary">Last update {{$moment(category.updatedOn).fromNow()}}</small>
                        </b-row>
                    </b-card>
                    <b-card>
                        <b-row class="justify-content-lg-center mb-2">
                            <b-icon icon="info-circle" scale="1.5" variant="success"></b-icon>
                        </b-row>
                        <b-row class="justify-content-lg-center m-0">
                            <small class="text-secondary text-justify text-center">{{category.description}}</small>
                        </b-row>
                    </b-card>
                </b-col>
            </b-col>
            <b-col lg="8">
                <b-col v-for="(article, index) in articles" :key="index" lg="6" class="mb-2" style="max-width:100% !important">
                    <b-card>
                        <b-row >
                            <b-col lg="1">
                                <i :class="'fa fa-'+article.icon+' fa-2x mt-1'"></i>
                            </b-col>
                            <b-col lg="10">
                                 <h5 class="mb-0">{{article.title}}</h5>
                                <small class="text-secondary">Updated {{$moment(article.updatedOn).fromNow()}}</small>
                            </b-col>
                            <b-col class="mt-2">
                                <b-icon icon="chevron-right" scale="1.5" variant="success"></b-icon>
                            </b-col>
                        </b-row>
                    </b-card>
                </b-col>
            </b-col>
        </b-row>
          <hr/>
        <b-row class="justify-content-lg-center mb-4">
            <h5 class="text-secondary mb-lg-4">Other Categories</h5>
        </b-row>
        <!-- <CategoryCard :categories="categories"/> -->
        <b-row class="justify-content-lg-center mb-4">
            <b-col v-for="(category,index) in categories" :key="index" cols="12" lg="4" class="mb-4">
                
                <b-card v-if="index < 3" style="min-height:220px !important">
                    <b-row class="justify-content-lg-center mb-4">
                        <i  style="color:#28a745" :class="'fa fa-'+category.icon+' fa-2x'"></i> 
                    </b-row>
                    <b-row class="justify-content-lg-center text-center mb-3">
                        <h5>{{category.title}}</h5>
                        
                    </b-row>
                    <b-row class="justify-content-lg-center mb-0">
                        <b-link class="text-success" :to="{path: '/category/'+category.id}">{{category.totalArticle}} articles</b-link>
                    </b-row>
                    <b-row class="justify-content-lg-center m-0">
                        <small class="text-secondary">Last update {{$moment(category.updatedOn).fromNow()}}</small>
                    </b-row>
                </b-card>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    import CategoryCard from "../CategoryCard.vue"
    export default {
        name: "index",
        components:{
            CategoryCard
        },
        data() {
            return {
                articles: [],
                category: {},
                categories: [],
                fetchFlag: false
            }
        },
        computed: {
            items(){
                return [
                    {
                        text: 'All Categories',
                        to: {path: '/categories'}
                    },
                    {
                        text: 'Manage',
                        active: true
                    },
                ]
            }
        },
        mounted() {
            this.getData(this.$route.params.id)
        },
        watch:{
            $route (to, from){
                this.getData(to.params.id)
            }
        },
        methods: {
            getData(data) {
                this.axios.get("http://localhost:9000/api/category/"+data).then((response) => {
                    this.articles = response.data.filter(e => e.status == 'published')
                })
                this.axios.get("http://localhost:9000/api/categories/").then((response) => {
                    this.category = response.data.filter(e => e.id == data)[0]
                    this.categories = response.data
                })
            }
        }
    }
</script>

<style scoped>
.breadcrumb {
    background-color: transparent !important
}
.breadcrumb-item a {
    color: #28a745;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    background-color: white;
    font-size: 24px;
    line-height: 1.33;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
hr {
  padding: 50px 0;
  border: none;

  &:before {
    // full-width divider
    content: "";
    display: block;
    position: absolute;
    right: 0;
    max-width: 100%;
    width: 100%;
    border: 0.5px solid gainsboro;
  }
}
</style>