<template>
    <div>
        <CategoryCard class="offset" :categories="filteredData"/>
    </div>
</template>

<script>
    import CategoryCard from '../CategoryCard.vue'
    export default {
        name: "index",
        components: {
            CategoryCard
        },
        data() {
            return {
                categories: [],
                fetchFlag: false,
                searchValue: "",
            }
        },
        mounted() {
            this.$root.$on('search-value',(data) => {
                this.searchValue = data
            })
            this.axios.get("http://localhost:9000/api/categories").then((response) => {
                this.categories = response.data.filter(e => e.enabled)
            })
        },
        computed: {
            filteredData() {
                return this.categories.filter(e => e.title.toLowerCase().includes(this.searchValue))
            }
        }
    }
</script>

<style scoped>
.offset {
    margin-top:10%;
}
</style>