<template>
    <b-row class="justify-content-lg-center mb-4">
            <b-col v-for="(category,index) in categories" :key="index" cols="12" lg="4" class="mb-4">
                <b-card>
                    <b-row class="justify-content-lg-center mb-4">
                        <i  style="color:#28a745" :class="'fa fa-'+category.icon+' fa-2x'"></i> 
                    </b-row>
                    <b-row class="justify-content-lg-center mb-3">
                        <h5>{{category.title}}</h5>
                        
                    </b-row>
                    <b-row class="justify-content-lg-center mb-0">
                        <b-link class="text-success" :to="{path: '/category/'+category.id}">{{category.totalArticle}} articles</b-link>
                    </b-row>
                    <b-row class="justify-content-lg-center m-0">
                        <small class="text-secondary">Last update {{$moment(category.updatedOn).fromNow()}}</small>
                    </b-row>
                </b-card>
            </b-col>
        </b-row>
</template>
<script>
    export default {
        name: "CategoryCard",
        props: {
            categories: {
                default() {
                    return [];
                }
            }
        }
    }
</script>

<style scoped>

</style>