<template>
   <div>
        <tawk-header></tawk-header>
        <main class="main">
<!--        <Breadcrumb :list="list"/>-->
        <br>
        <div class="container-fluid">
            <search  class="mb-4"/>
        </div>
        <div class="testing">
            <div class="container">
                <router-view></router-view>
            </div>
        </div>
        
      </main>
   </div>
</template>

<script>
    import Header from './Header.vue'
    import Search from './DefaultSearchbar.vue'
    export default {
        name: "DefaultContainer",
        components:{
            'tawk-header': Header,
            Search
        },
    }
</script>

<style>
.test {
     height: calc(100% - 80px) !important
}
.testing {
    background-color: ghostwhite;
    min-height: calc(100vh - 200px);
    padding-left:20px;
    padding-right:20px;
    display: inline-block; /* shrink to fit */
    width: 100%;           /* whatever width you like */
    /* height: 100%;  */
    position: relative;
}
html,
body {
	height: 100% !important; 
}
</style>