<template>
    <b-row class="justify-content-lg-center">
        <b-col cols="12" lg="4">
            <b-input-group>
                <b-form-input size="lg" v-model="text" placeholder="Search for answers"></b-form-input>

                <template v-slot:append>
                    <b-btn variant="success" size="lg"><i class="fa fa-search"></i></b-btn>
                </template>
            </b-input-group>
        </b-col>
    </b-row>
</template>

<script>
    export default {
        name: "DefaultSearchbar",
        data() {
            return {
                text: ""
            }
        },
        watch: {
            text(newData) {
                this.$root.$emit('search-value',newData)
            }
        }
    }
</script>

<style scoped>

</style>